<h1>About Me</h1>

<p>
  I'm currently a third-year Software Engineering Student at Concordia. I enjoy
  building software, including the website you're on right now!
</p>

<p>
  I'm comfortable with backend, but often try to explore new things. I've
  dabbled in frontend development, web design, machine learning, devops, and
  many more, and love learning new things.
</p>

<p>
  An open mind is important for a developer. With how complex software or life
  can be, you're bound to get something wrong. I strive to have an open mind,
  and value critism or chances to see what I did wrong and how to improve it.
</p>

<p>
  I enjoy playing the guitar and piano, exercising and spending time with
  friends and family. Whenever I find the time I also like to play some video
  games of course ;)
</p>
