<h1>About Me</h1>

<p>
  I'm currently a third-year Software Engineering Student at Concordia. I enjoy
  building software, including the website you're on right now!
</p>

<p>
  I'm comfortable with backend development, but often try to explore and learn
  new things. I'm also experienced in frontend development, web design and
  mobile. My main areas of focus right now are machine learning, DevOps, and
  other areas of software development I don't understand yet.
</p>

<p>
  We're all bound to get something wrong eventually. I try my best to keep an
  open mind and to learn from my mistakes. I take criticism seriously, and value
  when people take the time to give me feedback.
</p>

<p>
  When I have some free time, I enjoy playing the guitar, exercising and
  spending time with friends and family. I also play video games occasionally of
  course ;)
</p>
