<h1>About Me</h1>

<p>
  I'm currently a third-year Software Engineering Student at Concordia. I enjoy
  building software, including the website you're on right now!
</p>

<p>
  I'm comfortable with backend development, but often try to explore and learn
  new things. I've dabbled in frontend development, web design, mobile, machine
  learning, devops, and many more.
</p>

<p>
  An open mind is important for a developer. With how complex software or life
  can be, you're bound to get something wrong. I strive to have an open mind,
  and value critism, and other such opportunities to understand what I could do
  better.
</p>

<p>
  I enjoy playing the guitar, exercising and spending time with friends and
  family. Whenever I have time I also play some video games of course ;)
</p>
