@import "../../../common.scss";

#intro-text {
  @extend .larger-text;
  width: 100%;
  height: 2em;
  margin: 0.5em 0;
  padding: 0 2em;
  box-sizing: border-box;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#cursor {
  @extend .larger-text;
  color: $accent-color;
}
