@import "../../../common.scss";

#intro-text {
  @extend .large-text;
  width: 100%;
  height: fit-content;
  padding: 0.5em 1em;
  box-sizing: border-box;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.decoration-text {
  @extend .large-text;
  color: $accent-color;
}
