@import '../../../variables.scss';
@import '../../../mixins.scss';

.home-page-container {
  @include background-image('../../../assets/images/starry-sky.jpg', center, bottom, 400px);
}

.home-page-title {
  position: absolute;
  top: $top-bar-height;
  right: 0;
  left: 0;

  @include instant-fadein();
}

.home-page-subtext {
  font-size: 1rem;
  margin-top: 7em;
}

@media (min-width: $mobile-breakpoint) {
  .home-page-subtext {
    font-size: 1.5rem;
  }
}

@media (min-width: $tablet-breakpoint) {
  .home-page-subtext {
    font-size: 2rem;
  }
}
