@import '../../../../variables.scss';
.container {
  font-size: 2rem;
  padding: 1rem;
  background-color: unset;
}

.container:hover {
  background-color: $background-color;
  //   color: $background-color;
}

.active {
  background-color: $foreground-color !important;
  color: $background-color !important;
}
