@import "../../../common.scss";
@import "../../../social-media.scss";

:host {
  @extend .section-content-card;
}

a {
  @extend .button;
  @extend .bg-darker;
  @extend .card;
  margin: 0.5em 0;
  padding: 0 10px;
  display: block;
  align-content: center;
  text-decoration-line: none;
  width: fit-content;
}

#icon {
  font-size: 2.5rem;
  padding: 10px 10px 10px 0;
}

a > * {
  vertical-align: middle;
}

span {
  @extend .large-text;
  overflow-wrap: break-word;
  word-break: break-word;
}
