@import "../../../common.scss";
@import "../../../social-media.scss";

:host {
  @extend .section-content-card;
}

a {
  @extend .button;
  @extend .bg-darker;
  @extend .card;
  margin: 0.5em 0;
  padding: 0 1em;
  display: block;
  align-content: center;
  text-decoration-line: none;
  width: fit-content;
}

a > * {
  vertical-align: middle;
}

span {
  @extend .larger-text;
}
