@import "../../../common.scss";

.horizontal-bar {
  @media screen {
    flex-direction: row;
    margin: 1em 0px;
    gap: 15px;
    align-items: center;
  }
  @media (max-width: $small-width) {
    flex-direction: column;
    height: fit-content;
    gap: 8px;
    align-items: stretch;
  }

  display: flex;

  width: 100%;
}

.top-bar-button {
  @extend .larger-text;
  @extend .button;
  @extend .card;

  @media screen {
    flex: 1;
  }
  @media (max-width: $small-width) {
  }
  text-align: center;
  padding: 0.3em 5px;
}
