<div class="horizontal-bar">
  <div
    [routerLink]="routes.about"
    class="top-bar-button"
    [ngClass]="getNgClass(routes.about)"
  >
    About Me
  </div>

  <div
    [routerLink]="routes.projects"
    class="top-bar-button"
    [ngClass]="getNgClass(routes.projects)"
  >
    Projects
  </div>

  <div
    [routerLink]="routes.experience"
    class="top-bar-button"
    [ngClass]="getNgClass(routes.experience)"
  >
    Experience
  </div>

  <div
    [routerLink]="routes.contact"
    class="top-bar-button"
    [ngClass]="getNgClass(routes.contact)"
  >
    Contact
  </div>
</div>
