@import "../../../common.scss";

.horizontal-bar {
  @media screen {
    flex-direction: row;
    margin: 1em 0;
  }
  @media (max-width: $responsive-width) {
    flex-direction: column;
    height: fit-content;
  }

  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.top-bar-button {
  @extend .larger-text;
  @extend .button;
  @extend .card;

  @media screen {
    flex-basis: 23%;
  }
  @media (max-width: $responsive-width) {
    width: 100%;
    margin: 5px 0;
  }
  text-align: center;
  padding: 0.5em 0px;
}
