<h1>Projects</h1>

<p>Here are some of the projects I've worked on so far :)</p>

<h2>
  <a href="https://github.com/TheGreatMarkus/FitIt">FitIt</a>
</h2>

<p>
  This is a Fitness Tracker app I built using Android and Firebase. I didn't
  know any Android development before making this app and it was a great
  opportunity to learn.
</p>

<h2>
  <a href="https://devpost.com/software/trash-it">Trash-It</a>
</h2>

<p>
  This is a React Native application which uses Google's Vision API to identify
  the type of garbage you have and suggests actions you could take to dispose of
  it.
</p>
