<h1>Projects</h1>

<p>
  Here are some of the projects I've worked on so far which I find the most
  interesting :)
</p>

<h2>
  <a href="https://github.com/TheGreatMarkus/fit-it">FitIt</a>
</h2>

<p>
  This is a Fitness Tracker app I built with a team using Android and Firebase.
  I didn't know anything about Android development when making this app and I
  had a great time learning about mobile development and best practices. If we
  were to do develop such an application again, we would consider using Kotlin.
  Java has issues with repetition and boilerplate, which made the development
  pretty tedious at times.
</p>

<h2>
  <a href="https://devpost.com/software/trash-it">Trash-It</a>
</h2>

<p>
  This is a React Native application that identifies trash and provides
  directions to the nearest disposal place, depending on the type of trash. It
  uses Google's Vision API to identify the type of garbage you have and even
  suggests actions you could take to dispose of it.
</p>

<p>
  It was developed in 24 hours for the Hackatown 2020 competition and won the
  "Best Sustainable Development Hack" award.
</p>

<h2>
  <a href="https://github.com/TheGreatMarkus/bash-me">Bash Me</a>
</h2>

<p>
  A really useful little repository of shell configuration files that make it
  easy to setup my environment on a new machine.
</p>

<h2>
  <a href="https://github.com/RGPosadas/WayFinder">WayFinder</a>
</h2>

<p>
  The minicap project I did with a team of friends from Concordia during the
  third year of my SOEN program. Although we didn't manage to implement all of
  the required features, it was a great opportunity for the team to learn about
  React and React Native. For me, it was a chance to assist and support a team
  as a tech lead and learn to use my skills and knowledge to help others.
</p>
