.about-page-container {
  background: url('../../../assets/images/notebook.jpg');
  box-shadow: inset 0px 0px 250px 250px rgba(0, 0, 0, 0.5);

  background-size: cover;
  background-position: center;
}
