@import "../common.scss";

#name {
  @extend .largest-text;
  @extend .bg-darker;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  width: 100%;
  align-self: center;
  margin: auto;
  margin-top: 10px;
  padding: 10px 0;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
}

#background-image {
  @extend .fade-in;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  //   url(../assets/keyboard.jpg);
  background-color: rgba(40, 40, 40, 1);
  background-size: 100% 100%;
}

#main-content {
  right: 10px;
  left: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  z-index: 2;
  position: absolute;
}

#text-content {
  flex: 1;
}

.fade-in {
  animation: fadeInDelayed 3.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
