<div id="background-image"></div>

<div id="message">
  <app-typing-message></app-typing-message>
</div>

<div id="main-content">
  <div class="fade-in">
    <div id="name">Cristian Aldea</div>
    <app-top-bar></app-top-bar>

    <!-- TODO: Temporary replacement for router outlet. To be deleted -->
    <!-- <router-outlet></router-outlet> -->

    <ng-container
      *ngIf="
        pageRouter.aboutPageActive() ||
        pageRouter.projectPageActive() ||
        pageRouter.experiencePageActive() ||
        pageRouter.contactPageActive()
      "
    >
      <app-about-page *ngIf="pageRouter.aboutPageActive()"></app-about-page>

      <app-projects-page
        *ngIf="pageRouter.projectPageActive()"
      ></app-projects-page>

      <app-experience-page
        *ngIf="pageRouter.experiencePageActive()"
      ></app-experience-page>

      <app-contact-page
        *ngIf="pageRouter.contactPageActive()"
      ></app-contact-page>
    </ng-container>
  </div>
</div>
