@import '../variables.scss';

.app-main-container {
  width: 100vw;
}

.section-container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.section-content-container {
  box-sizing: border-box;
  padding: 0 1rem;
}

@media (min-width: $tablet-breakpoint) {
  .section-content-container {
    width: $tablet-breakpoint;
    margin: auto;
  }
}

.inline {
  display: inline;
}
