@import './variables.scss';

@mixin background-image($url, $position-x: center, $position-y: center, $y-offset: 300px) {
  background: url($url);

  background-size: cover;
  background-position-x: $position-x;
  background-position-y: $position-y;

  box-shadow: inset 0px $y-offset 1000px 1000px rgba(0, 0, 0, 0.4), inset 0 0 100px 100px rgba(0, 0, 0, 0.8);

  @media (min-width: $mobile-breakpoint) {
    box-shadow: inset 0px $y-offset 1000px 1000px rgba(0, 0, 0, 0.4), inset 0 0 200px 200px rgba(0, 0, 0, 0.8);
  }

  @media (min-width: $tablet-breakpoint) {
    box-shadow: inset 0px $y-offset 1000px 1000px rgba(0, 0, 0, 0.4), inset 0 0 300px 300px rgba(0, 0, 0, 0.8);
  }
}

@mixin delayed-fadein() {
  animation: fadein 2s ease-out 1.5s backwards;
}

@mixin instant-fadein() {
  animation: fadein 1.5s ease-out backwards;
}
