@import 'variables.scss';
@import 'mixins.scss';

@font-face {
  font-family: 'Roboto Mono';
  src: url('./assets/fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./assets/fonts/RobotoMono/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', Courier, monospace;
  font-weight: normal;
  font-size: 16px;

  color: $main-text-color;
  background-color: black;
}

a {
  text-decoration: none;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.inline {
  display: inline;
}

.section-container {
  display: inline-block;
  box-sizing: border-box;

  width: 100vw;
  height: 100vh;
  max-width: 100%;

  padding-top: $top-bar-height;

  @include delayed-fadein;
}

.section-content-container {
  box-sizing: border-box;
  padding: 0 1rem;
}

.page-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 0.5em;
}

@media (min-width: $tablet-breakpoint) {
  .section-content-container {
    width: $tablet-breakpoint;
    margin: auto;
  }
  .page-title {
    font-size: 4rem;
  }
}

@media (min-width: $tablet-breakpoint) {
  .page-title {
    font-size: 5rem;
  }
}
