@import 'variables.scss';

@font-face {
  font-family: 'Roboto Mono';
  src: url('./assets/fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./assets/fonts/RobotoMono/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: 'Roboto Mono', Courier, monospace;
  font-weight: normal;
  font-size: 16px;

  color: $main-text-color;
  background-color: black;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  ::-webkit-scrollbar {
    display: none;
  }
}
