<h1>Experience</h1>

<h2>SAP - Infrastructure Intern (May 2020 - Present)</h2>
<p>
  I've just started this internship since I had a great interest in learning
  about DevOps and infrastructure in more depth, and get professional experience
  working with awesome technologies such as docker and Kubernetes.
</p>

<h2>SAP - Software Developer Intern (May 2019 - May 2020)</h2>
<p>
  In this internship, I developed a fullstack application to serve as a
  dashboard to monitor the performance of the team's main product,
  <a href="https://youtu.be/gNtdNa3Gbag">SmartEdit</a>. This application helped
  the development team and PO better assess the impact of development on
  performance over time and releases.
</p>

<h2>Genetec - Software Developer In Test (Sept. 2018 - Dec. 2018)</h2>
<p>
  I contributed to an internal tool which sets up the testing environment used
  by manual system testers. This contributed to the reliability and performance
  of the company's main product,
  <a href="https://www.genetec.com/solutions/all-products/security-center"
    >Security Center</a
  >.
</p>
