<h1>Experience</h1>

<h2>SAP - Infrastructure Intern (May 2020 - Present)</h2>
<p>
  I've just started this internship since I had an interest in learning devops
  and infrastructure in more depth, and get experience working with awesome
  technologies such as docker and Kubernetes.
</p>

<h2>SAP - Software Developer Intern (May 2019 - May 2020)</h2>
<p>
  In this internship, I developed a fullstack application to serve as a
  dashboard for displaying performance measurements done on SmartEdit, the
  team's project. This application helped the development team and PO better
  assess the impact of development on performance over time and releases.
</p>

<h2>Genetec - Software Developer In Test (Sept. 2018 - Dec. 2018)</h2>
<p>
  I contributed to an internal tool used to setup the testing environment of
  <a href="https://www.genetec.com/solutions/all-products/security-center"
    >Security Center</a
  >
  for system and e2e.
</p>
