$primary-color: #303f9f;
$primary-color-light: #666ad1;
$primary-color-dark: #001970;

$accent-color: #4dd0e1;
$accent-color-light: #88ffff;
$accent-color-dark: #009faf;

$background-color: #252525;
$foreground-color: #f0f0f0;

$responsive-width: 800px;

.normal-text {
  @media screen {
    font-size: 18px;
  }
  @media (max-width: $responsive-width) {
    font-size: 12px;
  }
}

.large-text {
  @media screen {
    font-size: 24px;
  }
  @media (max-width: $responsive-width) {
    font-size: 16px;
  }
}

.larger-text {
  @media screen {
    font-size: 36px;
  }
  @media (max-width: $responsive-width) {
    font-size: 24px;
  }
}

.largest-text {
  @media screen {
    font-size: 60px;
  }
  @media (max-width: $responsive-width) {
    font-size: 40px;
  }
}

.bg-darkest {
  background: rgba($color: $background-color, $alpha: 0.7);
}

.bg-darker {
  background-color: rgba(
    $color: lighten($color: $background-color, $amount: 10%),
    $alpha: 0.7
  );
}

.bg-dark {
  background-color: rgba(
    $color: lighten($color: $background-color, $amount: 25%),
    $alpha: 0.7
  );
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card {
  border-radius: 10px;
}

.button {
  @extend .noselect;
  cursor: pointer;
  transition: filter ease 0.1s;
}

.button:hover {
  filter: brightness(130%);
}

.button:active {
  filter: brightness(90%);

  color: $accent-color-dark;
}

.section-content-card {
  @extend .bg-darker;
  @extend .card;

  display: block;
  position: relative;
  animation: floatBubble 0.2s normal ease-out;
}

@keyframes floatBubble {
  0% {
    top: 10px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

p,
h1,
h2,
h3 {
  margin-bottom: 1em;
}

h1 {
  @extend .large-text;
  font-weight: bold;
}
