@import "common.scss";

@font-face {
  font-family: sharetech;
  src: url(assets/fonts/ShareTechMono-Regular.ttf) format("opentype");
}

* {
  @extend .normal-text;
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-family: sharetech;
  color: $foreground-color;
}

a {
  font-weight: inherit;
  font-size: inherit;
  color: $accent-color;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: black;

  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

::selection {
  background-color: $accent-color-dark;
}

p,
h1,
h2,
h3 {
  margin-bottom: 1em;
}

h1 {
  @extend .large-text;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}
